<mat-spinner *ngIf="isLoading"></mat-spinner>

<form (keyup.enter)="onSearch(searchForm)" #searchForm="ngForm">
  <mat-form-field>
    <input matInput name="search" ngModel type="text" placeholder="Search" #searchInput="ngModel" required>
  </mat-form-field>
</form>

<mat-accordion multi="true" *ngIf="bets.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let bet of bets">
    <div class="bet-image">
      <img [src]="bet.imagePath" [alt]="bet.title">
    </div>
    <mat-expansion-panel-header>
      {{bet.title}}
    </mat-expansion-panel-header>
    <p>{{bet.description}}</p>
    <mat-action-row *ngIf="userIsAuthethenticated && userId === bet.creator">
      <a mat-button color="primary" [routerLink]="['/edit', bet.id]">EDIT</a>
      <button mat-button color="warn" (click)="onDelete(bet.id)">DELETE</button>
    </mat-action-row>
  </mat-expansion-panel>

</mat-accordion>
<mat-paginator [length]="totalBets" [pageSize]="betsPerPage" [pageSizeOptions]="pageSizeOptions"
  (page)="onChangedPage($event)" *ngIf="bets.length"></mat-paginator>
<p class="mat-body-1 info-text" *ngIf="bets.length <= 0 && !isLoading">No bets added yet!</p>
