<mat-toolbar color="primary">
  <ul>
    <li><a mat-button routerLink="/active-bets">BETSFRIENDS</a></li>
  </ul>
  <ul>
    <li><a mat-button routerLink="/active-bets" routerLinkActive="mat-accent">ACTIVE</a></li>
  </ul>
  <ul>
    <li><a mat-button routerLink="/public-bets" routerLinkActive="mat-accent">PUBLIC</a></li>
  </ul>
  <ul>
    <li><a mat-button routerLink="/private-bets" routerLinkActive="mat-accent">MY PRIVATE</a></li>
  </ul>
  <ul>
    <li><a mat-button routerLink="/finished-bets" routerLinkActive="mat-accent">FINISHED</a></li>
  </ul>
  <span class="spacer"></span>
  <ul *ngIf="userIsAuthenticated">
    <li><a mat-button routerLink="/create" routerLinkActive="mat-accent">NEW BET</a></li>
  </ul>
  <ul *ngIf="!userIsAuthenticated">
    <li><a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">LOGIN</a></li>
  </ul>
  <ul *ngIf="!userIsAuthenticated">
    <li><a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">SIGN UP</a></li>
  </ul>
  <ul *ngIf="userIsAuthenticated">
    <button mat-button (click)="onLogout()">LOGOUT</button>
  </ul>
</mat-toolbar>
