<mat-toolbar color="primary"><span routerLink="/">BetsFriends</span>
  <span class="spacer"></span>
  <ul *ngIf="userIsAuthenticated">
    <li><a mat-button routerLink="/create" routerLinkActive="mat-accent">NEW BET</a></li>
  </ul>
  <ul *ngIf="!userIsAuthenticated">
    <li><a mat-button routerLink="/auth/login" routerLinkActive="mat-accent">LOGIN</a></li>
  </ul>
  <ul *ngIf="!userIsAuthenticated">
    <li><a mat-button routerLink="/auth/signup" routerLinkActive="mat-accent">SIGN UP</a></li>
  </ul>
  <ul *ngIf="userIsAuthenticated">
    <button mat-button (click)="onLogout()">LOGOUT</button>
  </ul>
</mat-toolbar>
